.form {
    &-control {
        @apply .tw-border-grey-light .tw-h-auto .tw-p-3;
        box-shadow: none;
        &-feedback {
            top: 50%;
            @apply .tw-text-grey-darker;
            transform: translateY(-50%);
        }
    }
}
